## Compile boards firmware
[gcode_shell_command compile_binaries]
command: /home/pi/printer_data/config/3dwork-klipper/scripts/compile-binaries.sh
timeout: 600.
verbose: True

[gcode_macro COMPILE_FIRMWARE]
description: Compiles firmware with currently installed klipper version for all supported RatOS boards. Note: this may take up to 10 minutes. You can use BOARD parameter to compile one specific board.
gcode:
    {% if params.BOARD is not defined %}
        M117 {printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_shell_macros_compile_start_all}
        RESPOND MSG="{printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_shell_macros_compile_start_all}"
        RUN_SHELL_COMMAND CMD=compile_binaries
    {% else %}
        M117 {printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_shell_macros_compile_start_board ~ params.BOARD}
        RESPOND MSG="{printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_shell_macros_compile_start_board ~ params.BOARD}"
        RUN_SHELL_COMMAND CMD=compile_binaries PARAMS={params.BOARD}
    {% endif %}

    M117 {printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_shell_macros_compile_end}
    RESPOND MSG="{printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_shell_macros_compile_end}"

## Klipper Config backup to Github
[gcode_shell_command backup_cfg_github]
command: sh /home/pi/printer_data/config/3dwork-klipper/scripts/3dwork-autocommit.sh
timeout: 30.
verbose: True

[gcode_macro BACKUP_CFG_GITHUB]
description: Lauch the backup to github shell script, more information to configure backups https://3dwork.gitbook.io/labs/klipper/mejoras/backup-klipper
    RUN_SHELL_COMMAND CMD=backup_cfg_github

## Change hostname
[gcode_shell_command change_hostname]
command: /home/pi/printer_data/config/3dwork-klipper/scripts/change-hostname.sh
timeout: 10.

[gcode_macro CHANGE_HOSTNAME]
description: Change the hostname of your Raspberry Pi.
gcode:
    {% if params.HOSTNAME is not defined %}
        RESPOND MSG='You have to specify a new hostname with the HOSTNAME parameter. Ex: CHANGE_HOSTNAME HOSTNAME="MY_NEW_HOSTNAME"'
        RESPOND MSG="Please note: RFCs mandate that a hostname's labels may contain only the ASCII letters 'a' through 'z' (case-insensitive), the digits '0' through '9', and the hyphen. Hostname labels cannot begin or end with a hyphen. No other symbols, punctuation characters, or blank spaces are permitted."
    {% else %}
        RUN_SHELL_COMMAND CMD=change_hostname PARAMS={params.HOSTNAME}
    {% endif %}
