## Compile boards firmware
[gcode_shell_command compile_binaries]
command: /home/pi/printer_data/config/3dwork-klipper/scripts/compile-binaries.sh
timeout: 600.

[gcode_macro COMPILE_FIRMWARE]
description: Compiles firmware with currently installed klipper version for all supported RatOS boards. Note: this may take up to 10 minutes.
gcode:
    RESPOND MSG="Compiling binaries.. This can take up to 10 minutes. Please do not turn off your Raspberry Pi!"
    RUN_SHELL_COMMAND CMD=compile_binaries
    RESPOND MSG="Firmware binaries compiled successfully! You can find them in the firmware_binaries folder in the machine tab!"

## Change hostname
[gcode_shell_command change_hostname]
command: /home/pi/printer_data/config/3dwork-klipper/scripts/change-hostname.sh
timeout: 10.

[gcode_macro CHANGE_HOSTNAME]
description: Change the hostname of your Raspberry Pi.
gcode:
    {% if params.HOSTNAME is not defined %}
        RESPOND MSG='You have to specify a new hostname with the HOSTNAME parameter. Ex: CHANGE_HOSTNAME HOSTNAME="MY_NEW_HOSTNAME"'
        RESPOND MSG="Please note: RFCs mandate that a hostname's labels may contain only the ASCII letters 'a' through 'z' (case-insensitive), the digits '0' through '9', and the hyphen. Hostname labels cannot begin or end with a hyphen. No other symbols, punctuation characters, or blank spaces are permitted."
    {% else %}
        RUN_SHELL_COMMAND CMD=change_hostname PARAMS={params.HOSTNAME}
    {% endif %}