# Current Version v_202305221109
# Call this from your slicer (custom g-code). 
# Read more here: https://3dwork.gitbook.io/3dwork.io/klipper/empezamos/configuracion-klipper-en-laminadores

# END PRINT MACRO LIST
# The end_print macro is also called from CANCEL_PRINT.
#
#   END_PRINT	                      End print procedure, use this in your Slicer.
#   _END_PRINT_BEFORE_HEATERS_OFF   
#   _END_PRINT_AFTER_HEATERS_OFF    
#   _END_PRINT_AFTER_HEATERS_OFF
#
###

[gcode_macro END_PRINT]
description: End print procedure, use this in your Slicer.
gcode:
  SAVE_GCODE_STATE NAME=end_print_state
  
  _USER_END_PRINT_BEFORE_HEATERS_OFF
  _END_PRINT_BEFORE_HEATERS_OFF
  
  TURN_OFF_HEATERS
  
  _USER_END_PRINT_AFTER_HEATERS_OFF
  _END_PRINT_AFTER_HEATERS_OFF
  
  _USER_END_PRINT_PARK
  _END_PRINT_PARK
  # Clear skew profile if any was loaded.
  {% if printer["gcode_macro GLOBAL_VARS"].skew_profile is defined %}
    SET_SKEW CLEAR=1
  {% endif %}
  # Steppers off
  M84
  # Part cooling fan off
  M107
  # Clear bed mesh so that G28 doesn't fail.
  BED_MESH_CLEAR
  
  M117 {printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_done}
  RESPOND MSG="{printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_done}"

  RESTORE_GCODE_STATE NAME=end_print_state

#####
# END PRINT MACRO HOOKS
# You can copy these to printer.cfg and modify them to your liking, or just use them as is.
####

[gcode_macro _END_PRINT_BEFORE_HEATERS_OFF]
gcode:
  M117 {printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_finishing}
  RESPOND MSG="{printer["gcode_macro LANGUAGE_GLOBAL_VARS"].msg_finishing}"
  
[gcode_macro _USER_END_PRINT_BEFORE_HEATERS_OFF]
gcode:


[gcode_macro _END_PRINT_AFTER_HEATERS_OFF]
gcode:
  # Calculate safe Z position
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% set z_hop = printer["gcode_macro GLOBAL_VARS"].end_print_park_z_hop|float %}
  {% if act_z < (max_z - z_hop) %}
      {% set z_safe = z_hop %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  # Relative positioning
  G91
  # Retract the filament a bit before lifting the nozzle.
  G1 E-2 F3600
  # Move to safe Z position
  G0 Z{z_safe} F3600
  # Retract filament even more
  G1 E-2 F3600
  # Back to absolute positioning
  G90

[gcode_macro _USER_END_PRINT_AFTER_HEATERS_OFF]
gcode:

[gcode_macro _END_PRINT_PARK]
gcode:
  _PARK LOCATION={printer["gcode_macro GLOBAL_VARS"].end_print_park_in} X={printer["gcode_macro GLOBAL_VARS"].end_print_park_x}
  
[gcode_macro _USER_END_PRINT_PARK]
gcode:
