# Current Version v_202305061837
# More info https://3dwork.gitbook.io/3dwork.io/klipper/empezamos/malla-nivelacion-de-cama-klipper
### CALCULATE_BED_MESH - Helps to calculate bed mesh boundaries automatically

[gcode_macro CALCULATE_BED_MESH]
description: Calculate bed_mesh boundaries automatically based on your bltouch/probe config
gcode:
    {% set BED_MESH_MARGIN = params.BED_MESH_MARGIN|default(10)|int %}
    # Get Printer built volume dimensions
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(230)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(230)|float %}
    # Get Nothing/BLTouch/Probe X and Y offsets
    {% set X_OFFSET = 0 |float %}
    {% set Y_OFFSET = 0 |float %}
    {% if printer.configfile.config["bltouch"] %}
      {% set X_OFFSET = printer.configfile.settings.bltouch.x_offset|float %}
      {% set Y_OFFSET = printer.configfile.settings.bltouch.y_offset|float %}
    {% endif %}
    {% if printer.configfile.config["probe"] %}
      {% set X_OFFSET = printer.configfile.config.probe.x_offset|float %}
      {% set Y_OFFSET = printer.configfile.config.probe.y_offset|float %}
    {% endif %}

    # bed_mesh boundaries calculations
    # bed_mesh_min and bed_mesh_max
    {% set BED_MESH_MIN_X = BED_MESH_MARGIN if X_OFFSET <= 0 else X_OFFSET + BED_MESH_MARGIN |float %}
    {% set BED_MESH_MIN_Y = BED_MESH_MARGIN if Y_OFFSET <= 0 else Y_OFFSET + BED_MESH_MARGIN |float %}
    {% set BED_MESH_MAX_X = X_MAX - (X_OFFSET)|abs - BED_MESH_MARGIN if X_OFFSET <= 0 else X_MAX - BED_MESH_MARGIN |float %}
    {% set BED_MESH_MAX_Y = Y_MAX - (Y_OFFSET)|abs - BED_MESH_MARGIN if Y_OFFSET <= 0 else Y_MAX - BED_MESH_MARGIN |float %}

    # Print values
    {action_respond_info("BED_MESH_MARGIN : %f" % (BED_MESH_MARGIN))}
    {action_respond_info("X_MAX           : %f" % (X_MAX))}
    {action_respond_info("Y_MAX           : %f" % (Y_MAX))}
    {action_respond_info("X_OFFSET        : %f" % (X_OFFSET))}
    {action_respond_info("Y_OFFSET        : %f" % (Y_OFFSET))}
    {action_respond_info("BED_MESH_MIN_X  : %f" % (BED_MESH_MIN_X))}
    {action_respond_info("BED_MESH_MIN_Y  : %f" % (BED_MESH_MIN_Y))}
    {action_respond_info("BED_MESH_MAX_X  : %f" % (BED_MESH_MAX_X))}
    {action_respond_info("BED_MESH_MAX_Y  : %f" % (BED_MESH_MAX_Y))}
    {action_respond_info("--- VALUES TO ADD OR UPDATE TO OUR BED_MESH VALUES ---")}
    {action_respond_info("--- VALORES PARA AGREGAR O ACTUALIZAR EN NUESTROS VALORES DE BED_MESH ---")}
    {action_respond_info("mesh_max: %s,%s" % (BED_MESH_MAX_X,BED_MESH_MAX_Y))}
    {action_respond_info("mesh_min: %s,%s" % (BED_MESH_MIN_X,BED_MESH_MIN_Y))}