# Current Version v_202305221109
# More information https://3dwork.gitbook.io/3dwork.io/guias-impresion-3d/calibracion_3d#3.-ajuste-pid-mpc

### PIDs MACRO LIST
#
#   PID_EXTRUDER	Extruder temperature calibration / Calibra la temperatura del extrusor.
#   PID_BED       	Bed temperature calibration / Calibra la temperatura de la cama.
#   PID_ALL        	Heater and Bed temperature calibration / Calibra la temperatura del extrusor y la cama.
#
###

[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  {% set e = printer.toolhead.extruder %}
  {% set T = params.TEMPERATURE|default(210)|float %}
  {% set S = params.FAN_IN_PERCENT|default(100)|float *2.55 %}
  {% set P = printer.configfile.config[e].pid_kp|float %}
  {% set I = printer.configfile.config[e].pid_ki|float %}
  {% set D = printer.configfile.config[e].pid_kd|float %}
  M118 Homing...
  G28
  M106 S{S}
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  M118 Extruder PID calibration...
  PID_CALIBRATE HEATER={e} TARGET={T}
  TURN_OFF_HEATERS
  M107
  SAVE_CONFIG

[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set T = params.TEMPERATURE|default(60)|float %}
  {% set P = printer.configfile.config['heater_bed'].pid_kp|float %}
  {% set I = printer.configfile.config['heater_bed'].pid_ki|float %}
  {% set D = printer.configfile.config['heater_bed'].pid_kd|float %}
  M118 Homing...
  G28
  M118 // PID parameters: pid_Kp={P} pid_Ki={I} pid_Kd={D}  (old)
  M118 Bed PID calibration...
  PID_CALIBRATE HEATER=heater_bed TARGET={T}
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro PID_ALL]
description: Heater and Bed temperature calibration. Usage: PID_ALL [TE=temperature] [TB=temperature]\n Calibra la temperatura del extrusor y la cama. Uso: PID_ALL [TE=temperatura] [TB=temperature]
gcode:
    {% set e = printer.toolhead.extruder %}
    {% set S = params.FAN_IN_PERCENT|default(100)|float *2.55 %}
    {% set TE = params.TE|default(195)|int %}
    {% set TB = params.TB|default(45)|int %}
    M118 Homing...
	G28
	M118 Extruder PID calibration...
    M106 S{S}
	PID_CALIBRATE HEATER={e} TARGET={TE}
	M107
	M118 Bed PID calibration...
	PID_CALIBRATE HEATER=heater_bed TARGET={TB}
	SAVE_CONFIG
